$color-white: #ffffff;
$color-grey: #00000033;
$color-dark-snow: #E5E5E5;
$color-smoke: #8E8E8E;
$color-dark-smoke: #555555;
$color-snow: #F5F5F5;
$color-dark-blue: #167ABC;
$color-light-blue: #63a8d6;

